.article-news{
  .container{

    .anb{
      display: flex;
      align-items: last baseline;
      justify-content: space-between;
    }

    .articles{
      display: flex;
      gap: 20px;
      margin-bottom: 100px;

      a{
        text-decoration: none;
      }

      .calender{
        z-index: 100;
        background-color: #F0D082;
        width: 70px;
        height: 60px;
        position: absolute;
        top: 7500px;
        margin-left: 15px;
        text-align: center;

      }

      h3{
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 22px;
      }
      h4{
        color: #6a6c71;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight:400;
      }

      p{
        color: #6a6c71;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight:400;
      }
    }
  }
}