.brands{
  .container{
    display: grid;
    justify-content:center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-areas: "paperz dofus martino square gobana";
    padding: 75px;

      .paperz{

        grid-area: paperz;
      }
      .dorfus{

        grid-area: dofus;
      }
      .martino{
        grid-area: martino;


      }
      .square{
        grid-area: square;

      }
      .gobana{
        grid-area: gobana;

      }
    }
  }