.why-choose-us{
  .container{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    .text-1{
      text-align: left;

      .icons{
        float: left;
        margin-right: 40px;
        font-size: 2em;

      }
      .section-title{
        width: 400px;
        height: 350px;

      }
    }



    }

  }